<div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Dashboard</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
              </nav></div>
            </div>
          </div>
        </div>
      
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <form class="form-horizontal">
                  <div class="card-body">
                    <h4 class="card-title">Insert Data to Add Asset Pelindo</h4>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-3 text-end control-label col-form-label fas fa-flag"> Regional</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="fname" placeholder="Regional Here">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="lname" class="col-sm-3 text-end control-label col-form-label fas fa-desktop "> Endpoint Hostname</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="lname" placeholder="Endpoint Hostname Here">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="lname" class="col-sm-3 text-end control-label col-form-label fas fa-info-circle"> Endpoint IP</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="lname" placeholder="Endpoint IP Here">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email1" class="col-sm-3 text-end control-label col-form-label fas fa-cogs"> Machine</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="email1" placeholder="Machine Name Here">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="cono1" class="col-sm-3 text-end control-label col-form-label fab fa-html5"> Web Aplication</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="cono1" placeholder="Web Aplication Here">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="cono1" class="col-sm-3 text-end control-label col-form-label fas fa-id-card"> Public IP</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="cono1" placeholder="Public IP Here">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="cono1" class="col-sm-3 text-end control-label col-form-label fas fa-code"> FrameWork</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="cono1" placeholder="FrameWork Here">
                        </div>
                      </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                          <button type="button" class="btn btn-primary far fa-save">
                             Submit
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                
              </div>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Here For Asset Pelindo !</h5>
              <div class="table-responsive">
                <label>Show 
                    <select name="zero_config_length" aria-controls="zero_config" class="form-control form-control-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option></select> entries</label><table id="zero_config" class="table table-striped table-bordered">
                  
                  <thead>
                    <tr>
                      <th c="">Regional </th>
                      <th>Endpoint Hostname</th>
                      <th>Endpoint IP </th>
                      <th>Machine</th>
                      <th>Web Aplication</th>
                      <th>Public IP</th>
                      <th>FrameWork</th>
                    </tr>
                  </thead>
                  <tbody>
                <!--
                    Here The Data
                -->
      




<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!-- <script src="../dist/js/pages/dashboards/dashboard1.js"></script> -->
    <!-- Charts js Files -->
    <script src="../assets/libs/flot/excanvas.js"></script>
    <script src="../assets/libs/flot/jquery.flot.js"></script>
    <script src="../assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="../assets/libs/flot/jquery.flot.time.js"></script>
    <script src="../assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="../assets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="../assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="../dist/js/pages/chart/chart-page-init.js"></script>
    <script>
         $("#zero_config").DataTable();
    </script>
  
</tbody></table></div></div></div></div></div>