<div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Dashboard</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
              </nav></div>
            </div>
          </div>
        </div>
      
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <form class="form-horizontal">
                  <div class="card-body">
                    <h4 class="card-title">Insert to Add Event !</h4>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-3 text-end control-label col-form-label fas fa-flag"> Jenis Serangan / Anomali</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="fname" placeholder="Jenis Serangan / Anomali">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="lname" class="col-sm-3 text-end control-label col-form-label fas fa-tags "> Tags</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="lname" placeholder="Tags">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="lname" class="col-sm-3 text-end control-label col-form-label fas fa-signal"> Severity</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="lname" placeholder="Severity">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="cono1" class="col-sm-3 text-end control-label col-form-label far fa-sticky-note"> description</label>
                        <div class="col-sm-9">
                          <textarea class="form-control" placeholder="description">                        </textarea>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="cono1" class="col-sm-3 text-end control-label col-form-label fab fa-react"> Action</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="cono1" placeholder="Action">
                      </div>
                    </div>
                    <div class="form-group row">
                       <div class="form-group row">
                      <label for="cono1" class="col-sm-3 text-end control-label col-form-label fab fa-rocketchat"> Message</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="cono1" placeholder="Message">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="form-group row">
                       <label for="cono1" class="col-sm-3 text-end control-label col-form-label fas fa-list"> Remarks</label>
                         <div class="col-sm-9">
                           <input type="text" class="form-control" id="cono1" placeholder="Remarks">
                         </div>
                       </div>
                      <div class="form-group row">
                        <label for="cono1" class="col-sm-3 text-end control-label col-form-label fas fa-code"> uuid</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="cono1" placeholder="uuid">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3">File Upload</label>
                        <div class="col-md-9">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="validatedCustomFile" required="">
                            <label class="custom-file-label" for="validatedCustomFile"></label>
                    </div>
                        </div>
                    <div class="border-top">
                        <div class="card-body">
                          <button type="button" class="btn btn-primary far fa-save">
                             Submit
                          </button>
                        </div>
                      </div>
                    
                  </div>
                
              </div>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Here For Event has Added !</h5>
              <div class="table-responsive">
                <label>Show 
                    <select name="zero_config_length" aria-controls="zero_config" class="form-control form-control-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option></select> entries</label><div class="container-fluid">
                        <!-- ============================================================== -->
                        <!-- Start Page Content -->
                        <!-- ============================================================== -->
                        <div class="row el-element-overlay">
                          <div class="col-lg-3 col-md-6">
                            <div class="card">
                              <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                  <img src="../assets/images/big/img1.jpg" alt="user">
                                  <div class="el-overlay">
                                    <ul class="list-style-none el-info">
                                      <li class="el-item">
                                        <a class="
                                            btn
                                            default
                                            btn-outline
                                            image-popup-vertical-fit
                                            el-link
                                          " href="../assets/images/big/img1.jpg"><i class="mdi mdi-magnify-plus"></i></a>
                                      </li>
                                      <li class="el-item">
                                        <a class="btn default btn-outline el-link" href="javascript:void(0);"><i class="mdi mdi-link"></i></a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="el-card-content">
                                  <h4 class="mb-0">Title</h4>
                                  <span class="text-left">Jenis Serangan / Anomali</span>
                                  <br>
                                  <span class="text-left position-left">Tags</span>
                                  <br>
                                  <span class="text-left">Severity</span>
                                  <br>
                                  <span class="text-left">description</span>
                                  <br>
                                  <span class="text-left">Action</span>
                                  <br>
                                  <span class="text-left">Message</span>
                                  <br>
                                  <span class="text-left">uuid</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-6">
                            <div class="card">
                              <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                  <img src="../assets/images/big/img2.jpg" alt="user">
                                  <div class="el-overlay">
                                    <ul class="list-style-none el-info">
                                      <li class="el-item">
                                        <a class="
                                            btn
                                            default
                                            btn-outline
                                            image-popup-vertical-fit
                                            el-link
                                          " href="../assets/images/big/img2.jpg"><i class="mdi mdi-magnify-plus"></i></a>
                                      </li>
                                      <li class="el-item">
                                        <a class="btn default btn-outline el-link" href="javascript:void(0);"><i class="mdi mdi-link"></i></a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="el-card-content">
                                    <h4 class="mb-0">Title</h4>
                                    <span class="text-muted">subtitle of project</span>
                                    <br>
                                    <span class="text-muted">subtitle of project</span>
                                    <br>
                                    <span class="text-muted">subtitle of project</span>
                                    <br>
                                    <span class="text-muted">subtitle of project</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                              </div>
                            </div><table id="zero_config" class="table table-striped table-bordered">
                  
                  <thead>
                    
                          
                  </thead>
      




  
</table></div></div></div></div></form></div></div></div></div>