
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{{ url_for('static', filename='assets/libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/extra-libs/sparkline/sparkline.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/waves.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/sidebarmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/custom.min.js') }}"></script>
    
    <script src="{{ url_for('static', filename='assets/libs/flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/flot/jquery.flot.stack.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/flot/jquery.flot.js') }}"></script>    
    <script src="{{ url_for('static', filename='assets/libs/flot/jquery.flot.time.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/flot/jquery.flot.crosshair.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/flot/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/pages/chart/chart-page-init.js') }}"></script>
