<link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/images/favicon.png"
    />
<!-- Custom CSS -->
<link href="{{ url_for('static', filename='css/libs/flot/css/float-chart.css') }}" rel="stylesheet" />
<!-- <link href="static/css/libs/flot/css/float-chart.css" rel="stylesheet" /> -->
<!-- Custom CSS -->
<link href="{{ url_for('static', filename='dist/css/style.min.css') }}" rel="stylesheet" />
<!-- <link href="static/dist/css/style.min.css" rel="stylesheet" /> -->