<aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4 in">
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link active" href="dashboard" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a>
              </li>
              <!-- Sidebar Asset and Event-->
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Asset Management </span></a>
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="asset-management" class="sidebar-link"><i class="fas fa-desktop"></i><span class="hide-menu"> Company Assets </span></a>
                  </li>
                  <li class="sidebar-item">
                    <a href="event-create" class="sidebar-link"><i class="fas fa-clipboard"></i><span class="hide-menu"> Create Event</span></a>
                  </li>
                  <li class="sidebar-item">
                    <a href="discord-create" class="sidebar-link"><i class="fab fa-discord"></i><span class="hide-menu"> Create Event for Discord</span></a>
                  </li>
                </ul>
                <!-- Sidebar Generate Report-->
                </li><li class="sidebar-item">
                  <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-tasks"></i><span class="hide-menu">Generate Report</span></a>
                  <ul aria-expanded="false" class="collapse first-level">
                    <li class="sidebar-item">
                      <a href="attack" class="sidebar-link"><i class="fas fa-exclamation"></i><span class="hide-menu"> Attack Report </span></a>
                    </li>
                    <li class="sidebar-item">
                      <a href="dns" class="sidebar-link"><i class="fas fa-code"></i><span class="hide-menu"> DNS Report</span></a>
                    </li>
                    <li class="sidebar-item">
                      <a href="malware" class="sidebar-link"><i class="fab fa-reddit-alien"></i><span class="hide-menu"> Malware Report</span></a>
                    </li>
              
                </ul>
          </li></ul></nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>