<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">WorkSpace Dashboard</h4>
        <div class="ms-auto text-end"></div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->
    <h4 class="page-title">Assets Management</h4>
    <div class="row">
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-orange text-center">
            <h1 class="font-light text-white">
              <i class="fas fa-desktop"></i>
              <i class="fas fa-server"></i>
            </h1>
            <a href="asset-management" class="text-white">Company Assets</a>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-cyan text-center">
            <h1 class="font-light text-white">
              <i class="fas fa-clipboard"></i>
            </h1>
            <a href="event-create" class="text-white">Create Event</a>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-4 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-success text-center">
            <h1 class="font-light text-white">
              <i class="fab fa-discord"></i>
            </h1>
            <a href="discord-create" class="text-white"
              >Create Event for Discord</a
            >
          </div>
        </div>
      </div>
      <p>
        <!-- Column -->
      </p>
      <h4 class="page-title">Generate Report</h4>
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-danger text-center">
            <h1 class="font-light text-white">
              <i class="fas fa-exclamation"></i>
            </h1>
            <a href="attack" class="text-white">Attack Report</a>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-info text-center">
            <h1 class="font-light text-white">
              <i class="fas fa-code"></i>
            </h1>
            <a href="dns" class="text-white">DNS Report</a>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-4 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-danger text-center">
            <h1 class="font-light text-white">
              <i class="fab fa-reddit-alien"></i>
            </h1>
            <h6 class="text-white">Report Malware</h6>
          </div>
        </div>
      </div>
      <p></p>
      <h4 class="page-title">Live Monitoring</h4>
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-info text-center">
            <h1 class="font-light text-white">
              <i class="fas fa-desktop"></i>
            </h1>
            <h6 class="text-white">Monitoring</h6>
          </div>
        </div>
      </div>
      <h4 class="page-title">Checker</h4>
      <div class="row">
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
          <div class="card card-hover">
            <div class="box bg-orange text-center">
              <h1 class="font-light text-white">
                <i class="fas fa-search"></i>
              </h1>
              <a href="#" class="text-white">Source IP</a>
            </div>
          </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
          <div class="card card-hover">
            <div class="box bg-cyan text-center">
              <h1 class="font-light text-white">
                <i class="fas fa-desktop"></i>
              </h1>
              <a href="#" class="text-white">Domain/DNS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
  </div>

  <footer class="footer text-center">
    Designed and Developed by
    <a href="#">Instinct </a>& <a href="#">TFSID</a> 
  </footer>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>
